<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Posts</a>
          <ul>
            <li><a href="{{ "/posts/algorithm" | relative_url }}"><i class="fas fa-code"></i> Algorithm</a></li>
            <li><a href="{{ "/posts/aws" | relative_url }}"><i class="fab fa-aws"></i> AWS</a></li>
            <li><a href="{{ "/posts/bigdata" | relative_url }}"><i class="fas fa-database"></i> BigData</a></li>
            <li><a href="{{ "/posts/database" | relative_url }}"><i class="fas fa-server"></i> Database</a></li>
            <li><a href="{{ "/posts/data-engineering" | relative_url }}"><i class="fas fa-cogs"></i> Data Engineering</a></li>
            <li><a href="{{ "/posts/devOps" | relative_url }}"><i class="fas fa-tools"></i> DevOps</a></li>
            <li><a href="{{ "/posts/elk" | relative_url }}"><i class="fas fa-search"></i> ELK</a></li>
            <li><a href="{{ "/posts/git" | relative_url }}"><i class="fab fa-git-alt"></i> Git</a></li>
            <li><a href="{{ "/posts/hadoop" | relative_url }}"><i class="fas fa-cubes"></i> Hadoop</a></li>
            <li><a href="{{ "/posts/java" | relative_url }}"><i class="fab fa-java"></i> Java</a></li>
            <li><a href="{{ "/posts/jpa" | relative_url }}"><i class="fas fa-layer-group"></i> JPA</a></li>
            <li><a href="{{ "/posts/kafka" | relative_url }}"><i class="fas fa-stream"></i> Kafka</a></li>
            <li><a href="{{ "/posts/ai" | relative_url }}"><i class="fas fa-brain"></i>AI</a></li>
            <li><a href="{{ "/posts/react-redux" | relative_url }}"><i class="fab fa-react"></i> React Redux</a></li>
            <li><a href="{{ "/posts/scala" | relative_url }}"><i class="fas fa-code-branch"></i> Scala</a></li>
            <li><a href="{{ "/posts/spark" | relative_url }}"><i class="fas fa-fire"></i> Spark</a></li>
            <li><a href="{{ "/posts/spring" | relative_url }}"><i class="fas fa-leaf"></i> Spring</a></li>
            <li><a href="{{ "/posts/kotlin" | relative_url }}"><i class="fas fa-mobile-alt"></i> Kotlin</a></li>
            <li><a href="{{ "/posts/web" | relative_url }}"><i class="fas fa-globe"></i> Web</a></li>
            <li><a href="{{ "/posts/etc" | relative_url }}"><i class="fas fa-ellipsis-h"></i> ETC</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
