<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">Resume</a>
        </li>
        <li class="nav-item">
         <!-- <a class="btn btn-default dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"  href="{{ "/posts" | relative_url }}">Posts</a> -->
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts
          <img src="/img/arrow.png" alt="dropdown arrow" width="18" height="18"></a>
          <ul>
            <li><a href="{{ "/posts/algorithm" | relative_url }}">Algorithm</a></li>
            <li><a href="{{ "/posts/aws" | relative_url }}">AWS</a></li>
            <li><a href="{{ "/posts/bigdata" | relative_url }}">BigData</a></li>
            <li><a href="{{ "/posts/database" | relative_url }}">Database</a></li>
            <li><a href="{{ "/posts/data-engineering" | relative_url }}">Data-Engineering</a></li>
            <li><a href="{{ "/posts/devOps" | relative_url }}">DevOps</a></li>
            <li><a href="{{ "/posts/elk" | relative_url }}">ELk</a></li>
            <li><a href="{{ "/posts/git" | relative_url }}">Git</a></li>
            <li><a href="{{ "/posts/hadoop" | relative_url }}">Hadoop</a></li>
            <li><a href="{{ "/posts/java" | relative_url }}">Java</a></li>
            <li><a href="{{ "/posts/jpa" | relative_url }}">JPA</a></li>
            <li><a href="{{ "/posts/kafka" | relative_url }}">Kafka</a></li>
            <li><a href="{{ "/posts/ml" | relative_url }}">ML</a></li>
            <li><a href="{{ "/posts/react-redux" | relative_url }}">React-Redux</a></li>
            <li><a href="{{ "/posts/scala" | relative_url }}">Scala</a></li>
            <li><a href="{{ "/posts/spark" | relative_url }}">Spark</a></li>
            <li><a href="{{ "/posts/spring" | relative_url }}">Spring</a></li>
            <li><a href="{{ "/posts/kotlin" | relative_url }}">Kotlin</a></li>
            <li><a href="{{ "/posts/web" | relative_url }}">Web</a></li>
            <li><a href="{{ "/posts/etc" | relative_url }}">ETC</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
